{% extends "inicio.html" %}
{% load static %}
<!-- <link rel="stylesheet" href="{%static 'css/miestilo.css'%}">
<link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}"> -->
{% block contenido %}
    <p>> Registrar Slot...</p>
    <form class="formData" action="/AppSwim/create_slots/" method="POST">{% csrf_token %}
        <input type="date" name="fecha" placeholder="Fecha">
        <input type="time" name="horario" placeholder="Horario">
        <input type="number" name="duracion" placeholder="Duaracion [min]">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
{% endblock %}