{% extends "inicio.html" %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}"> -->
{% block contenido %}
    <p>> Slots...</p>
    <hr>
    {% for slot in slots %}
        <li>
            {{slot}}
            <a href="/AppSwim/update_slots/{{slot.id}}" class="btn btn-warning">Edit</a>
            <a href="/AppSwim/delete_slots/{{slot.id}}" class="btn btn-danger">Delete</a>
        </li>
        <hr>
    {% endfor %}
    <a class="btn btn-success" href="/AppSwim/create_slots">+ Agregar Slot</a>
{% endblock %}
