{% extends "inicio.html" %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}"> -->
{% block contenido %}
    <p>> Profesores...</p>
    <hr>
    {% for profesor in profesores %}
        <li>
            {{profesor}}
            <a href="/AppSwim/update_profesores/{{profesor.id}}" class="btn btn-warning">Edit</a>
            <a href="/AppSwim/delete_profesores/{{profesor.id}}" class="btn btn-danger">Delete</a>
        </li>
        <hr>
    {% endfor %}
    <a class="btn btn-success" href="/AppSwim/create_profesores">+ Agregar Profesor</a>
{% endblock %}